/* ===== GOOGLE FONTS ======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Orbitron:wght@400;700&display=swap');

/* ======= VARIABLES CSS ======= */
:root{
    --primary-color: #2d1344;
    --secondary-color: #4d0991;
    --accent-color: #8f3dff;
    --background-color: #121212;
    --text-color: #f8f9fa;
    --gray-color: #adb5bd;

    --font-title: 'Orbitron', sans-serif;
    --font-body: 'Poppins', sans-serif;

    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 40px;
}

/* ======= RESET CSS ======== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
    text-align: center;
}

a{
    text-decoration: none;
}

/* ======= STYLES DE BASE ======= */
body{
    font-family: var(--font-body);
    background-color: var(--primary-color);
    color: var(--text-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-title);
    color: var(--accent-color);
    margin-bottom: var(--spacing-medium);
}

p{
    margin-bottom: var(--spacing-medium);
    color: var(--gray-color);
}

/* ======= NAVBAR ======= */
.navbar{
    background-color: #eaeaea;
}

.navbar-brand{
    color: white;
    font-weight: bold;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #d8b4fe;
}

/* ======= MAIN ======== */
main{
    min-height: 80vh;
}

section{
    padding: var(--spacing-large) 0;
}

.container h1{
    font-size: 2.5rem;
    color: white;
}

.container h2{
    font-size: 2rem;
    color: white;
}

/* ======= FOOTER ======== */
footer{
    background-color: var(--dark-color);
}

footer p{
    color: white;
    margin-bottom: 0;
}